@use "../base/mixins" as mixins;

.progress {

  &__controls {
    list-style: none;
    font-size: 18px;
  }

  &__control {

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__label {
    display: flex;
    align-items: center;

    &-text {
      margin-left: 25px;
    }
  }

  &__input {
    border: 2px solid var(--color-black);
    outline: none;
    text-align: center;

    @include mixins.input-container;
  }

  &__toggle {
    position: relative;
    background-color: var(--color-gray);
    cursor: pointer;
    transition: background-color .2s cubic-bezier(.85,0,.15,1);

    @include mixins.input-container;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: 24px;
      height: 24px;
      background-color: var(--color-white);
      border-radius: 50%;
      transition: transform 0.2s cubic-bezier(.85,0,.15,1);
    }
  }

  &__checkbox {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;

    &:checked {
      &+ .progress__toggle {
        background-color: var(--color-blue);
      }

      &+ .progress__toggle::before {
        transform: translateX(16px);
      }
    }
  }
}