@use "../base/mixins" as mixins;

.progress {
  position: relative;
  transition: opacity 0.2s;
  will-change: opacity;

  &_hidden {
    opacity: 0;
  }

  &__svg_dynamic {
    position: absolute;
    top: 0;
    left: 0;

    .progress__circle {
      transform-origin: center;
      rotate: -90deg;
      stroke: var(--color-blue);
    }

  }

  &__circle {
    stroke-width: 11px;
    stroke: var(--color-gray);
    fill: transparent;
  }
}
