.progress {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 530px;
  margin: 0 auto;

  &__title {
    font-size: 18px;
    font-weight: 400;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;

    @media screen and (min-width: 568px) {
      flex-direction: row;
      max-width: 530px;
    }
  }

  &__bar {
    position: relative;
  }

  &__svg {

    &_dynamic {
      position: absolute;
      top: 0;
      left: 0;

      .progress__circle {
        transform-origin: center;
        rotate: -90deg;
        transition: stroke-dashoffset 0.3s;
      }
    }
  }
}