.progress {

  &__bar {
    position: relative;
  }

  &__svg {

    &_dynamic {
      position: absolute;
      top: 0;
      left: 0;

      .progress__circle {
        transform-origin: center;
        rotate: -90deg;
        transition: stroke-dashoffset 0.3s;
      }
    }
  }
}