:root {
  --color-blue: #005bff;
  --color-gray: #eff3f6;
  --color-white: #fff;
  --color-black: #000;

  --cubic-bezier: cubic-bezier(0.85, 0, 0.15, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
