:root {
  --color-blue: #005bff;
  --color-gray: #eff3f6;
  --color-white: #fff;
  --color-black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  min-width: 320px;
  min-height: 100vh;
}