@mixin input-container {
  width: 44px;
  height: 28px;
  border-radius: 30px;
}

@mixin visibility-hidden {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}